body{
    padding: 0;
    margin: 0;

    .bbs{
    //    background-color: aqua;
       display: flex;
       justify-content: space-between;
       align-items: center;
       max-width: 100%;
       margin: 0 auto;

       div{
        img{
            height: 90vh;
        }
       }
    }
}